.text--center {
  text-align: center;

  padding: 10px 20px;
}
.app__logo img {
  width: 25%;
  height: auto;
}
.logo {
  text-align: center;
  margin: 50px 50px;
}
.calculation {
  margin: auto 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
}
